<h1>ユーザー詳細</h1>

<strong><%= User.human_attribute_name(:email) %></strong>
<p><%= @user.email %></p>

<strong><%= User.human_attribute_name(:postal_code) %></strong>
<p><%= @user.postal_code %></p>

<strong><%= User.human_attribute_name(:address) %></strong>
<p><%= @user.address %></p>

<strong><%= User.human_attribute_name(:self_introduction) %></strong>
<p><%= @user.self_introduction %></p>

<% if current_user.id == @user.id %>
 <%= link_to t('devise.shared.links.edit_profile'), edit_user_registration_path %>
<% end %>
