<p style="color: green"><%= notice %></p>

<div class="show-items">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('move.edit_book'), edit_book_path(@book) %> |
  <%= link_to t('move.back_books'), books_path %>

  <%= button_to t('move.destroy_book'), @book, method: :delete %>
</nav>
