<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<strong><%= Report.human_attribute_name(:title) %></strong>
<p><%= @report.title %></p>

<strong><%= Report.human_attribute_name(:description) %></strong>
<p><%= @report.description %></p>

<p><%= link_to t('views.common.edit', name: Report.model_name.human), edit_report_path(@report) %> |
  <%= link_to t('views.common.back', name: Report.model_name.human), reports_path %></p>

  <%= button_to t('views.common.destroy', name: Report.model_name.human), @report, method: :delete %>
